jobs:
  package:
    name: Package (${{ matrix.arch }})
    runs-on: ubuntu-latest
    steps:
      - 
        name: git co
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - 
        id: release-tag-meta
        name: meta
        uses: ./.github/actions/release-tag-meta
        with:
          git-ref: ${{ github.ref }}
      # -
      #   run: echo "${{ toJSON(steps.release-tag-meta) }}"
      - 
        env:
          ARCH: ${{ matrix.arch }}
          CARGO: cross
          OS: ${{ matrix.os }}
          PACKAGE: fip_api
          RELEASE: --release
          STRIP: ${{ matrix.strip }}
          TARGET: ${{ matrix.target }}
          VERSION: ${{ steps.release-tag-meta.outputs.name }}
        name: package
        uses: ./.github/actions/package
        with:
          entrypoint: make
          args: release
      -
        name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.arch }}-artifacts
          path: release/*
    strategy:
      matrix:
        arch: [aarch64, arm, x86_64]
        include:
          - 
            arch: aarch64
            os: linux
            strip: aarch64-linux-gnu-strip
            target: aarch64-unknown-linux-musl
          - 
            arch: x86_64
            os: linux
            strip: strip
            target: x86_64-unknown-linux-musl
          -
            arch: arm
            os: linux
            strip: arm-linux-gnueabihf-strip
            target: armv7-unknown-linux-musleabihf
    timeout-minutes: 40
  release:
    name: GitHub Release
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      -
        name: git co
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      -
        id: release-tag-meta
        name: meta
        uses: ./.github/actions/release-tag-meta
        with:
          git-ref: ${{ github.ref }}
      -
        name: download artifacts
        uses: actions/download-artifact@3be87be14a055c47b01d3bd88f8fe02320a9bb60
        with:
          path: artifacts
      -
        name: list artifacts
        run: find artifacts -type f -ls
      -
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: release
        uses: softprops/action-gh-release@91409e712cf565ce9eff10c87a8d1b11b81757ae
        with:
          files: artifacts/**/*
          name: ${{ steps.release-tag-meta.outputs.name }}
    timeout-minutes: 5
name: Release
on:
  push:
    tags:
      - release/*
